ADDON -fn XSC Check-In Message              -a SCCoPIFO -t form-check-in.html
ADDON -fn XSC ICS-213 Message               -a SCCoPIFO -t form-ics213.html
ADDON -fn XSC CPOD Commodities Update       -a SCCoPIFO -t form-cpod-commodities.html
ADDON -fn XSC CPOD Site Information         -a SCCoPIFO -t form-cpod-site-info.html
ADDON -fn XSC Damage Assessment             -a SCCoPIFO -t form-damage-assessment.html
ADDON -fn XSC Notable Report                -a SCCoPIFO -t form-notable-report.html
ADDON -fn XSC RACES Mutual Aid Request      -a SCCoPIFO -t form-oa-mutual-aid-request-v3.html
ADDON -fn XSC Resource Request              -a SCCoPIFO -t form-resource-request.html
ADDON -fn XSC Road Closure                  -a SCCoPIFO -t form-road-closure.html
ADDON -fn XSC Shelter                       -a SCCoPIFO -t form-shelter.html
ADDON -fn XSC Situation Report              -a SCCoPIFO -t form-situation-report.html
ADDON -fn XSC Windshield Survey             -a SCCoPIFO -t form-windshield-survey.html
ADDON -fn XSC Check-Out Message             -a SCCoPIFO -t form-check-out.html
LINE
ADDON -fn XSC Allied Health Facility Status -a SCCoPIFO -t form-allied-health-facility-status.html
ADDON -fn XSC HAvBed Report                 -a SCCoPIFO -t form-mhoc-beds-status-v3.html
ADDON -fn XSC Hospital Status               -a SCCoPIFO -t form-hospital-status.html
